<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @comment.created_at %></h1>
  </div>
  <div class="panel-body">
  <p><%= @comment.body %></p>
  </div>
</div>
