<div class="jumbotron">
 <h1>Matts blog!</h1>
 <p>Where the cool kids read cool stuff</p>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Pearls of Wisdom. Or posts. </th>
      <th>Administrative stuff (please dont touch ordinary user...please?)</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><h4><%= link_to post.title, post %></h4></td>
        <td>
          <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default btn-small" %>
          <%= link_to 'Destroy', post, class: "btn btn-danger btn-small", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path , class: "btn btn-primary btn-large"%>
