<p id="notice"><%= notice %></p>

<div class="page-header">
  <%= link_to 'Edit', edit_post_path(@post), class: "pull-right btn btn-default btn-small"%> 
  <h1>
    <%= @post.title %>
  </h1>
</div>

<div class="jumbotron">
  <p><%= @post.body %></p>
</div>
<%= render 'comments/form' %>
<div class="comment-container">
  <% if @post.comments.present? %>
    <p><b>Comments:</b></p>
    <% @post.comments.each do |comment| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= comment.created_at %></h1>
        </div>
        <div class="panel-body">
          <p><%= comment.body %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
